<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e3d6e10c-296e-4d25-abff-01d93c687604/resourcegroups/MyDB/providers/Microsoft.Web/sites/MyTicketSystem</ResourceId>
    <ResourceGroup>MyDB</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myticketsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myticketsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyTicketSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyTicketSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Webapps1.DB" Order="1" Enabled="False">
          <Destination Path="Data Source=myticketsystemserver.database.windows.net;Initial Catalog=MyTicketSystem;Persist Security Info=True;User ID=Samsi;Password=snuS2007" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Webapps1.DB, Webapps1" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BillettReservasjoner" Order="2" Enabled="False">
          <Destination Path="Data Source=myticketsystemserver.database.windows.net;Initial Catalog=MyTicketSystem;Persist Security Info=True;User ID=Samsi;Password=snuS2007" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=myticketsystemserver.database.windows.net;Initial Catalog=MyTicketSystem;Persist Security Info=True;User ID=Samsi;Password=snuS2007" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BillettReservasjoner_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=myticketsystemserver.database.windows.net;Initial Catalog=MyTicketSystem;Persist Security Info=True;User ID=Samsi;Password=snuS2007 " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BillettReservasjoner-Web.config Connection String">
      <ParameterValue>data source=myticketsystemserver;persist security info=True;user id=Samsi;password=lansing2000;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Webapps1.DB-Web.config Connection String">
      <ParameterValue>Data Source=myticketsystemserver;Persist Security Info=True;User ID=Samsi;Password=lansing2000</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Webapps1.DB" />
  </ItemGroup>
</Project>