@model List<Webapps1.Models.Rute>

@{
    ViewBag.Title = "Søk etter reise";
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript">
        function hentAlleRuter() {
            $.ajax({
                url: '/Home/HentAlleRuter',
                type: 'POST',
                dataType: 'json',
                cache: false,
                success: function (alleRuter) {
                    visAlleRuter(alleRuter);
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });

        }
        function hentValgteRuter() {
            $.ajax({
                url: '/Home/HentValgteRuter',
                type: 'POST',
                dataType: 'json',
                data: {
                    fra: $("#fra").val(),
                    til: $("#til").val()
                },
                cache: false,
                success: function (valgteRuter) {
                    visValgteRuter(valgteRuter);
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });

        }
        function visValgteRuter(valgteRuter) {

            var utString = "";

            for (var i in valgteRuter) {

                utString +=
                    "<tr>" +
                    "<td>" + valgteRuter[i].RuteId + "</td>" +
                    "<td>" + valgteRuter[i].Fra + "</td>" +
                    "<td>" + valgteRuter[i].Til + "</td>" +
                    "<td>" + valgteRuter[i].Avgang + "</td>" +
                    "<td>" + valgteRuter[i].Ankomst + "</td>" +
                    "<td>" + valgteRuter[i].Pris + "</td>" +
                    "<td>" + "<button type =\"button\" onclick=\"knapper(" + valgteRuter[i].RuteId + ")\" id = \"ruteId" + valgteRuter[i].RuteId + "\" class = \"btn-success\" value=" + valgteRuter[i].RuteId + ">" + "Kjøp" + "</button>" + "</td>" +
                    "</tr>";
            }
            $("#serverData").append(utString);
        }

        function visAlleRuter(alleRuter) {

            var utString = "";

            for (var i in alleRuter) {

                utString +=
                    "<tr>" +
                    "<td>" + alleRuter[i].RuteId + "</td>" +
                    "<td>" + alleRuter[i].Fra + "</td>" +
                    "<td>" + alleRuter[i].Til + "</td>" +
                    "<td>" + alleRuter[i].Avgang + "</td>" +
                    "<td>" + alleRuter[i].Ankomst + "</td>" +
                    "<td>" + alleRuter[i].Pris + "</td>" +
                    "<td>" + "<button type =\"button\" onclick=\"knapper(" + alleRuter[i].RuteId + ")\" id = \"ruteId" + alleRuter[i].RuteId + "\" class = \"btn-success\" value=" + alleRuter[i].RuteId + ">" + "Kjøp" + "</button>" + "</td>" +
                    "</tr>";
            }
            $("#serverData").append(utString);
        }


        function knapper(innVerdi) {
            window.location.href = "/Home/NyBillett?ruteId="+innVerdi;
        }

</script>


<h2>ListeRuter</h2>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Fra</label>
    <div class="col-10">
        <input class="form-control" type="text" id="fra">
    </div>
</div>
<div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Til</label>
    <div class="col-10">
        <input class="form-control" type="text" id="til">
    </div>
</div>
<table class="table" id="serverData">
    <tr>
        <th>
            Rute
        </th>
        <th>
            Fra
        </th>
        <th>
            Til
        </th>
        <th>
            Avgang
        </th>
        <th>
            Ankomst
        </th>
        <th>
            Pris
        </th>
        <th></th>
    </tr>
</table>

<div clss="btn-toolbar">
    <button class="btn-primary" onclick="hentAlleRuter()"> Alle reiser </button> 
    <button class="btn-primary" onclick="hentValgteRuter()"> Søk valgte reiser</button>
</div>
